# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode

# Logs
*.log
npm-debug.log*
.vercel
